$white-color: #fff;
$height100: 100%;

ion-grid {
    width:100%;
    height: $height100;
    background: #dfdfdf;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #488aff;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

.box{
    display: flex;
    justify-content: center;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
}

.slide-image {

    padding-top: var(--ion-safe-area-top);

    align-items: center;
    justify-content: center;

    flex-direction: column;

    height: calc(100px + var(--ion-safe-area-top));
  }