<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Koala Driver
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div class="ion-text-center">
          <img src="assets/logo/drivers.png" class="slide-image" />
          <p>Bienvenue dans notre équipe!</p>
          <p>Votre mission :</p>
          <p><i>Conduire les enfants à bon port tout en gardant le sourire.</i></p>

        </div>
        
        <div padding>
          <ion-button size="large" (click)='launchSite()' expand="block">Rouler</ion-button>
          <ion-button size="large" (click)='exitApp()' color="danger" expand="block">Quitter</ion-button>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
